* {
    width: 800px;
    margin: auto;
    background-color: #EBEBEB;
}

img {
    display: block;
    height: auto;
    width: 800;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

h1 {
    text-align: center;
    padding: 20px;
    border-bottom: solid #BCA39F 5px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #383232;
}

h2 {
    color: #304A4A;
    font-family: 'Arial Narrow Bold', Arial, sans-serif;
}

.description,
.ingredients,
.steps {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1F1F1F;
} 