* {
    width: 800px;
    margin: auto;
    background-color: #EBEBEB;
    box-sizing: border-box;
    line-height: 1.6;
}

img {
    margin-top: 20px;
    height: auto;
    width: 800;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    padding: 20px;
    border-bottom: solid #BCA39F 5px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #383232;
}

h2 {
    color: #517B7B;
    font-family: 'Arial Narrow Bold', Arial, sans-serif;
}

.description,
.ingredients,
.steps,
i {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1F1F1F;
    font-size: 18px;
} 

i { 
    font-size: 15px;
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 16px 24px;
    width: 20em;
    display: block;
    background-color: #E6DDDB;
    border: 2px solid #A3827B;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.3s;
    font-size: large;
    color: #785A54;
    margin-top: 40px;
    margin-bottom: 40px;
}

button:hover {
    background-color: #A3827B;
    color: #EBEBEB;
    font-size: 19px;
}

a {
    text-decoration: none;
}