html, body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Cafe;
    src: url(fonts/louis_george_cafe/louis-george-cafe.ttf);
}

@font-face {
    font-family: Cafe;
    src: url(fonts/louis_george_cafe/louis-george-cafe-bold.ttf);
    font-weight: bold;
}

/* ! Index page section */


.header { 
    text-align: center;
    padding: 30px;
    background-color: #395649;
    color: #F3F7F5;
    font-size: 25px;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

.body-index {
    background-color: #EBEBEB;
    box-sizing: border-box;
    line-height: 1.6;
}

.container-cards {
    display: flex;
    justify-content: space-between;

}

.content-card {
    display: inline-block;
    width: 500px;
    height: 550px;
    border: 2px #416253 solid;
    margin: 4em;
    border-radius: 8px;
    text-align: center;
}

.img-mac, .img-pies, .img-pancakes {
    width: 500px;
    height: 400px;
    object-fit: cover;
    margin: 0;
    border-radius: 8px 8px 0 0;
}

a {
    text-decoration: none;
    color: #395649;
    font-family: Cafe;
    font-weight: bold;
    font-size: 30px;
    margin: auto;
    text-align: center;
}


/* ! Recipes section  */


.body-recipe {
    width: 800px;
    margin: auto;
    background-color: #F3F7F5;
    box-sizing: border-box;
    line-height: 1.6;
}

img {
    margin-top: 20px;
    height: auto;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.header-recipe {
    text-align: center;
    padding: 20px;
    border-bottom: solid #395649 5px; 
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: #314941;
}

h2 {
    color: #527A6C;
    font-family: 'Arial Narrow Bold', Arial, sans-serif;
}

.description,
.ingredients,
.steps,
i {
    font-family: Cafe;
    color: #1F1F1F;
    font-size: 24px;
} 

i { 
    font-size: 20px;
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 20em;
    height: 4em;
    padding: 16px 24px;
    display: block;
    background-color: #E6DDDB;
    border: 2px solid #AE786F;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.3s;
    font-size: large;
    color: #7c5b55;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

button:hover {
    background-color: #AE786F;
    color: #EBEBEB;
}